*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --main-color:#3749e8;
}

/* start header */
.header{
    background-color: #f1f6f7;
    position: relative;
    z-index: 2;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    background-color: var(--main-color);
    z-index: -1;
}


.header-btn{
    width: fit-content;
    background-color: var(--main-color) ;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    color: #fff;
    border: solid 1px var(--main-color);
}

.header-btn:hover{
    background-color: #fff;
    color: var(--main-color);
}


/* end header */


/* start product */


.test{
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 40px;
    width: 100%;
    height: 100%;
    z-index: -2;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    opacity: 0;
}

.image-link{
    position: absolute;
    color: #fff;
    width: 100%;
    background-color: var(--main-color);
    padding: 20px;
    display: block;
    bottom: 0;
    left: 0;
    z-index: -3;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    opacity: 0;
}

.image-holder:hover .test{
    top: 0;
    opacity: 1;
    z-index: 3;
}

.image-holder:hover .image-link{
    opacity: 1;
    bottom: 20px;
    z-index: 1;

}




/* end product */