*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --main-color:#3749e8;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: 80%;
    margin: auto;

}


/* start navbar */




.nav{

    padding: 20px 0;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 7px 3px #eee;
    position: sticky;
    top: 0;
    z-index: 1;

}


.nav .container{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.nav-links{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}
.nav-links li a{
    color: #222222;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    padding: 20px 5px;
}
.nav-links li:hover a{

    color: var(--main-color);

}

.nav-links li{
    padding: 15px 5px;
   
}

.nav-links li a.active{
    color: var(--main-color);
}

.nav-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.btn-nav{
    border: solid 1px #eeeeee;
    color: #222222;
    font-weight: bold;
    padding:15px 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.btn-nav:hover{
    border-color: var(--main-color);

}

.nav-cart svg{
    margin-right: 10px;
    cursor: pointer;
}

.counter{

    position: relative;
}

.counter::before{
    content: '3';
    position: absolute;
    top: -12px;
    right: 6px;
    width: 13px;
    height: 14px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-color);
    color: #fff;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}


.nav .nav-links li .mega-menu{
    position: absolute;
    top: calc(100% + 50px);
    background-color: white;
    width: 200px;
        z-index: -2;
        opacity: 0;
        visibility: hidden;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}


.nav .nav-links li .mega-menu .links{

    display: flex;
    flex-direction: column;
    
}

.nav .nav-links li .mega-menu .links li:not(:last-child){
    border-bottom:  solid 1px #eeeeee; ;
}
.nav .nav-links li .mega-menu .links li a{
    padding: 0 0 10px 30px;
    color: #222222;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.nav .nav-links li .mega-menu .links li {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.nav .nav-links li .mega-menu .links li:hover{
    background-color: var(--main-color);
    color: #fff;

}

.nav .nav-links li .mega-menu .links li:hover a{
    color: #fff;
}


.nav .nav-links li:hover .mega-menu{

    opacity: 1;
    visibility: visible;
    top: calc(100% + 1px);

}
.nav label{
    padding: 15px;
    position: relative;
    width: 60px;
    margin: auto;
    cursor: pointer;
    display: none;
    
}


.nav label span{
    width: 35px;
    height: 4px;
    background-color:var(--main-color);
    display: block;
    position: absolute;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.nav  #checkbox:checked ~ label .second{
    display: none;
    visibility: hidden;

}

.nav label .first{
    top: 0;
}

.nav label .second{
    top: 6px;
}

.nav label .third{
    top: 12px;
}

.nav #checkbox:checked ~ label .first,
.nav  #checkbox:checked ~ label .third{
    top: 6px;
}

.nav  #checkbox:checked ~ label .first{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.nav  #checkbox:checked ~ label .third{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

/*  end navbar */