*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root{
    --main-color:#3749e8;
}


.main-color{
    color: #3749e8;
}

.second-color{
    background-color: #f1f6f7;
}

ul{
    list-style-type: none;
    padding-left: 0 !important;
}

a{
    text-decoration: none;
}

.text-sm-size{
    font-size: 15px;
}

.container{
    width: 80%;
    margin: auto;

}

.grow-more{
    flex-grow: 2;
}

.login-register-color{
    background-color: #4b5ced;
}

input{
    outline: none;
}

.btn-register-login{
    border: solid 1px;
    border-radius: 50px;
    border-color: #fff;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: fit-content;
}

.btn-register-login:hover{

         background-color: #c5322d;
         border-color: #c5322d;
}

.register-btn{
    font-size: 14px;
         background-color: #c5322d;
         transition: .4s;
         -webkit-transition: .4s;
         -moz-transition: .4s;
         -ms-transition: .4s;
         -o-transition: .4s;
}

.register-btn:hover{
    opacity: .5;
}

.shadow-register-login{

  box-shadow: 0 2px 20px rgba(55, 73, 232, 0.3);
}


textarea{
    outline: none;
}

.fit-content{
    width: fit-content;
}

/* start navbar */




.nav{

    padding: 20px 0;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 7px 3px #eee;
    position: sticky;
    top: 0;
    z-index: 999;

}


.nav .container{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.nav-links{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    margin-top: 20px;
}
.nav-links li a{
    color: #222222;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    padding: 20px 5px;
}
.nav-links li:hover a{

    color: var(--main-color);

}

.nav-links li{
    padding: 15px 5px;
   
}

.nav-links li a.active{
    color: var(--main-color);
}

.nav-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.btn-nav{
    border: solid 1px #eeeeee;
    color: #222222;
    font-weight: bold;
    padding:15px 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.btn-nav:hover{
    border-color: var(--main-color);

}

.nav-cart svg{
    margin-right: 10px;
    cursor: pointer;
}

.counter{

    position: relative;
}

.counter::before{
    content: '3';
    position: absolute;
    top: -12px;
    right: 6px;
    width: 13px;
    height: 14px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-color);
    color: #fff;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}


.nav .nav-links li .mega-menu{
    position: absolute;
    top: calc(100% + 50px);
    background-color: white;
    width: 250px;
        z-index: -2;
        opacity: 0;
        visibility: hidden;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}


.nav .nav-links li .mega-menu .links{

    display: flex;
    flex-direction: column;
    
}

.nav .nav-links li .mega-menu .links li:not(:last-child){
    border-bottom:  solid 1px #eeeeee; ;
}
.nav .nav-links li .mega-menu .links li a{
    padding: 0 0 10px 30px;
    color: #222222;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.nav .nav-links li .mega-menu .links li {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.nav .nav-links li .mega-menu .links li:hover{
    background-color: var(--main-color);
    color: #fff;

}

.nav .nav-links li .mega-menu .links li:hover a{
    color: #fff;
}


.nav .nav-links li:hover .mega-menu{

    opacity: 1;
    visibility: visible;
    top: calc(100% + 1px);

}
.nav label{
    padding: 15px;
    position: relative;
    width: 60px;
    margin: auto;
    cursor: pointer;
    display: none;
    
}


.nav label span{
    width: 35px;
    height: 4px;
    background-color:var(--main-color);
    display: block;
    position: absolute;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.nav  #checkbox:checked ~ label .second{
    display: none;
    visibility: hidden;

}

.nav label .first{
    top: 0;
}

.nav label .second{
    top: 6px;
}

.nav label .third{
    top: 12px;
}

.nav #checkbox:checked ~ label .first,
.nav  #checkbox:checked ~ label .third{
    top: 6px;
}

.nav  #checkbox:checked ~ label .first{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.nav  #checkbox:checked ~ label .third{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

/*  end navbar */



/* start  header-details */

.header-details{
    background-color: #f1f6f7;
    height: 60vh;

}


/*  end header-details */




/* start footer */


.footer{
    background-color: #002347;
}


.footer .image-holder{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    gap: 5px;
}

.footer .text-info span{
    background-color: var(--main-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    ;
}


.footer ul li a{
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.footer ul li a:hover{

    color: var(--main-color) !important;

}

.copy-rihgt{
    background-color: #05274b;
}

/* end footer */


/* start top-produt */


.top-product h5{
    font-size: 15px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.top-product .row .col-12:hover h5{

    color: var(--main-color);
}


.top-product .image-holder{
    cursor: pointer;
}


/* end top-produt */
