
@media screen and (max-width:1074px) {

    .nav .container{
        text-align: center;
        flex-direction: column;
        gap: 40px;
        
    }
    .nav .container .nav-links{
        flex-direction: column;
    }

    
}