:root{
    --main-color:#3749e8;
}


.second-color{
    background-color: #f1f6f7;
}

.link-under{
    text-decoration: underline;
}



.check-customer p{
    font-size: 14px;
}


.check-customer ul li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}

.size-sm{
    font-size: 14px;
}
