
:root{
    --main-color:#3749e8;
}

.blog .image-holder{
    position: relative;
    cursor: pointer;

}

.blog .image-holder img{
    width: 100%;
}



.blog .image-holder .text-image{
    content: '';
    position: absolute;
    top: 20px;
    left: 15px;
    right: 15px;
    bottom: 20px;
    width: 90%;
    height: 75%;
    background-color:rgba(34, 34, 34, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
   
}

.blog .image-holder:hover .text-image{

      background-color: rgba(56, 74, 235, 0.85);

}

.blog-btn{
    background-color: #f9f9ff;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.blog-btn:hover{
    background-color: var(--main-color);
    color: #fff !important;
}


.arrow-blog li{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.arrow-blog li a {
    background-color: transparent !important;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.arrow-blog li:hover{
   
    background-color: var(--main-color);
}

.arrow-blog li:hover a{
    
    color: #fff !important ;
    
}


.blog h3{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    cursor: pointer;
}

.blog h3:hover{

    color: var(--main-color);

}


.blog-info-link p{
   
    cursor: pointer;
}
.blog-info-link p span{
     transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.blog-info-link p:hover span{
  
    color: var(--main-color) !important;
}


.special-search::placeholder{
    color: #fff;
}

.special-search{
    background-color: var(--main-color);
    outline: none;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
 button{
    border: none;
    outline: none;
    background-color: var(--main-color);
    position: absolute;
    right: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

 button i{
    
    color: #fff !important;
}

.special-bg{
    background-color: #fafaff;

}


.image-size{
    width: 120px;
}


.socials li a i{
    color: black;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}



.socials li:hover a i{
   color: var(--main-color);
}

.h6{
    background-color: var(--main-color);
}

.border-dotted{
    border-bottom: 2px rgba(128, 128, 128, 0.585) dotted;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.border-dotted:hover{
    border-color: var(--main-color);
}
.border-dotted a{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.border-dotted:hover a {
    color: var(--main-color) !important;
}

.sub{
    background-color: var(--main-color);
    position: absolute;
    right: 9px;
}

.font-sm a{
    font-size: 13px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.font-sm a:hover{
    background-color: var(--main-color) !important;
    color: #fff !important;
}

.follow-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
    cursor: pointer;
    font-size: 14px;
}

.instagram-photo img{
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.instagram-photo img:hover{
    transform:scale(1.1) rotate(4deg) ;
    -webkit-transform:scale(1.1) rotate(4deg) ;
    -moz-transform:scale(1.1) rotate(4deg) ;
    -ms-transform:scale(1.1) rotate(4deg) ;
    -o-transform:scale(1.1) rotate(4deg) ;
}

.blog-details .socials li a i{
    opacity: .5;
}

.blog-details .socials li:hover a i {
    opacity: 1;
    color: black;
}

.pre-image::before,
.next-image::before{
    content: "\2190";
    position: absolute;
    font-size: larger;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.473);
    opacity: 0;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.pre-image::before{
       content: "\2190";

}
.next-image::before{
       content: "\2192";

}

.pre-post:hover .pre-image::before,
.next-post:hover .next-image::before{
    opacity: 1;
}




@media screen and (max-width:490px) {

    .flex{
        flex-wrap: wrap;
    }
    
}